<br>
<div class="pagination-centered">
<div [ngClass]="{'card text-black mb-3':true,
                 'bg-light': loveit === 0,
                 'alert-danger': !isSup(),
                 'alert-success': isSup()}">
  <div class="card-header text-right"> <h6>{{createdAt | date:'MM/dd/yyyy, hh:mm aa'}}</h6></div>
  <div class="card-body">
    <h5 class="card-title">{{title}} | {{loveit}}</h5>
    <p class="card-text">{{content}}</p>
    

    <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight"><button (click)="onLove(Index)" class="btn btn-success" style="margin-right:10px">Love !</button></div>
        <div class="p-2 bd-highlight"> <button (click)="onDontLove(Index)" class="btn btn-danger">Don't Love !</button></div>
        <div class="ml-auto p-2 bd-highlight"> <button (click)="onDelete(Index)" class="btn btn-danger">Supprimer X</button></div>
      </div>


    
   

   
  </div>
</div>
  </div>
  <hr>
 